<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="venbhas_giftcard_options" xsi:type="array">
                    <item name="class" xsi:type="string">Venbhas\GiftCard\Ui\DataProvider\Product\Modifier\GiftCardOptions</item>
                    <item name="sortOrder" xsi:type="number">160</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="venbhas_giftcard_hide_menu_when_disabled"
                type="Venbhas\GiftCard\Plugin\Backend\Menu\HideWhenDisabledPlugin"
                sortOrder="100"/>
    </type>

    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="venbhas_giftcard_admin_dispatch_guard"
                type="Venbhas\GiftCard\Plugin\Backend\App\DispatchGuardPlugin"
                sortOrder="10"/>
    </type>
</config>
