<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="venbhas_giftcard_save_use_config"
                  instance="Venbhas\GiftCard\Observer\SaveGiftCardOptionsOnProduct"/>
    </event>
    <event name="sales_quote_product_add_after">
        <observer name="venbhas_giftcard_persist_fields_admin"
                  instance="Venbhas\GiftCard\Observer\Adminhtml\PersistGiftCardFieldsOnAdminQuoteItem"/>
    </event>
</config>
