<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="venbhas_giftcard" frontName="venbhas_giftcard">
            <module name="Venbhas_GiftCard"/>
        </route>
    </router>
</config>

